.card {
  max-width: 270px;
  background-color: #fff;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto 44px;
  border-radius: 10px;
  grid-template-areas:
    "img img"
    "title button"
    "duration duration";
  background-color: #fdfdfd;
  filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.05));
}

.card__link {
  grid-area: img;
}

.card__img {
  width: 270px;
  height: 151px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card__title-movies {
  grid-area: title;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-left: 12px;
  margin-top: 14px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__duration-movies {
  grid-area: duration;
  margin: 0;
  margin-left: 12px;
  margin-bottom: 13px;
  color: #a0a0a0;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__save-button {
  margin: 0;
  padding: 0;
  margin-top: 13px;
  margin-left: 15px;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(122, 122, 122, 0.5);
  cursor: pointer;
  transition: opacity 0.7s;
}

.card__save-button:hover {
  opacity: 0.7;
}

.card__save-button_active {
  background-color: #2be080;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 339px;
  }
  .card__img {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 620px) {
  .card {
    max-width: 300px;
  }
  .card__img {
    width: 300px;
    height: 168px;
  }
}
