.form__edit-name {
  min-height: 14px;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 32px;
  
}

.form__edit-name:last-of-type {
   
    margin-bottom: 0;
    
  }


.form__name_profile {
    margin-top: 5px;
    margin-bottom: 123px;

}

.form_profile {
    text-align: center;
    max-width: 410px;
}

.profile__name {
    
    
    width: 150px;
}







.form__edit-input {
    
    background-color: #fff;
    border: 0;
    outline: none;
    width: 90%;
    text-align: right;
    color: #000;
   
}

.button__edit-profile {
    margin: 0;
    padding: 0;
    text-align: center;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: 0;
background-color: #fff;
margin-top: 221px;
}

.button__edit-profile_out {
    color: #EE3465;
    margin-top: 17px;
}