.search-form {
    margin: 0;
    padding: 0;
    max-width: 1280px;
    min-height: 247px;
    box-sizing: border-box;
    padding-top: 60px;
   
   
    
   
}

.search {
    
    max-width: 1140px;
   
    row-gap: 40px;
   
}


.search-form__search {
   
    margin: 0;
    padding: 0;
    min-height: 46px;
    margin-left: 70px;
    margin-right: 70px;
    position: relative;
    
}


.search-form__field-search {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 46px;
    border-radius: 40px;
    border: 0;
    background-color: #F9F9F9;
    position: absolute;
    box-sizing: border-box;
    padding-left: 22px;
    font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 17px;
}

.search-form__button {
    width: 80px;
    height: 34px;
    border: 0;
    border-radius: 48px;
    background-color: #FF6838;
    position: absolute;
    right: 6px;
    top: 6px;
    background-image: url(../../images/icon__paw.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
}
